@model List<TravelWeb.Areas.Activity.Models.ViewModels.ActivityTicketViewModel>

@{
    ViewData["Title"] = "活動 | 商品總覽";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>

    </style>
}


<div class="container-fluid px-5">

    <h1>活動商品總覽</h1>

    <p>
        <a asp-action="TicketCreate" class="btn btn-primary">創建新商品</a>
    </p>
    <table id="myTable" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    資源操作
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TicketCategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>     
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="fs-4 d-flex justify-content-center align-items-center gap-3">
                            <a asp-area="Activity" asp-controller="Activity" asp-action="" asp-route-id="@item.ProductCode"
                               class="text-primary d-inline-flex align-items-center">
                                <i class="bi bi-info-square"></i>
                            </a>
                            <a asp-area="Activity" asp-controller="Activity" asp-action="TicketEdit" asp-route-ProductCode="@item.ProductCode"
                               class="text-primary d-inline-flex align-items-center">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        @item.ProductCode
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(modelItem => item.ProductName)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPrice)
                    </td>
                    <td>
                        @if (item.Status == "預告中")
                        {
                            <span class="badge bg-warning fs-5">預告中</span>
                        }
                        else if (item.Status == "販售中")
                        {
                            <span class="badge bg-success fs-5">販售中</span>
                        }
                        else if (item.Status == "已下架")
                        {
                            <span class="badge bg-danger fs-5">已下架</span>
                        }
                        else if (item.Status == "已售完")
                        {
                            <span class="badge bg-black fs-5">已售完</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myTable").DataTable()
        });
    </script>
}
