@using TravelWeb.Areas.BoardManagement.Models.ViewModel
@model ReportDetailsModel

@{
    ViewData["Title"] = "ReportDetails";
    Layout = "_Layout";
}

<div class="container">
    <h1>ReportDetails</h1>
    <div class="row">
    <div class="col-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                檢舉者編號
                            </th>
                            <th>
                                違規類型
                            </th>
                            <th>
                                詳細說明
                            </th>
                            <th>
                                附圖
                            </th>
                            <th>
                                網頁快照
                            </th>
                            <th>
                                檢舉成立時間
                            </th>
                            <th>
                                審查結果更新時間
                            </th>                            
                            <th>
                                審查結果
                            </th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LogItems)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ViolationType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Photo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Snapshot)
                                </td>                                
                                <td>                                   
                                    <div>@Html.DisplayFor(modelItem => item.CreateDateText)</div>
                                    <div style="white-space: nowrap;">@Html.DisplayFor(modelItem => item.CreateTimeText)</div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>
                                <td>                                    
                                    <select asp-for="@item.ResultType"
                                            asp-items="Model.ResultTypeLists"
                                            data-log-id="@item.LogId"
                                            class="form-select Result-updater">
                                    </select>
                                </td>                                
                            </tr>
                        }
                    </tbody>
            </table>
            </div>
        </div>
        <div class="col-3">
            <div>
                @* class="mb-3" *@
                <label for="exampleFormControlTextarea1" class="form-label">審查備註</label>
                <textarea class="form-control" id="noteTextarea" rows="3">@Model.auditNote.Note</textarea>
                <button type="button" id="btnUpdateNote" class="btn btn-primary">確定</button>
            </div>
        </div>

    </div>
    </div>




    <script>
        $('.Result-updater').change(function() {
        var logId = $(this).data('log-id'); // 確保 HTML 標籤上有 data-log-id
        var newStatus = $(this).val();
        $.ajax({
            url: '@Url.Action("UpdateReport", "Board", new { area = "BoardManagement" })',
            type: 'POST',
            data: {
                LogID: logId,
                ResultID: newStatus
            },
            success: function(response) {
                // alert("更新成功！");
            },
            error: function() {
                // alert("更新失敗");
            }
        });
    });

          $('#btnUpdateNote').click(function() {
        var id = '@Model.auditNote.TargetId';
        var content = $('#noteTextarea').val();
        $.ajax({
            url: '@Url.Action("UpdateNote", "Board", new { area = "BoardManagement" })',
            type: 'POST',
            data: {
                id: id,
                noteContent: content
            },
            success: function(response) {
                 if (response.success) {

                }
                else {
                }
            }


        });
    });
    </script>




