@model IEnumerable<TravelWeb.Areas.BoardManagement.Models.BoardDB.ReportLog>

@{
    ViewData["Title"] = "ReportDetails";
    Layout = "_Layout";
}

<h1>ReportDetails</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="container">
    <div class="row">
    <div class="col-9">
            <div class="table-responsive">
                <table class="table">
                <thead>
                    <tr>
                       @*  <th>
                            @Html.DisplayNameFor(model => model.TargetId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TargetType)
                        </th> *@
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViolationType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Photo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Snapshot)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ResultType)
                            </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                           @*  <td>
                                @Html.DisplayFor(modelItem => item.TargetId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TargetType)
                            </td> *@
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViolationType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Photo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Snapshot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ResultType)
                                </td>
                            @* <td>
                                <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
                            </td> *@
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-3">
            <div>
                @* class="mb-3" *@
                <label for="exampleFormControlTextarea1" class="form-label">審查備註</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>

    </div>
    </div>

